
  
{{/ templates-node? }}
<!-- Begin node -->
<article{{ attributes }}>

  {{ title_prefix }}
  {{^ view_mode_full? }}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ article_title }}</a>
    </h2>
  {{/ view_mode_full? }}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      <div{{ author_attributes }}>
        By {{ author_name }} on {{ date }}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    {{# organisms-article? }}
      {{ content }}
    {{/ organisms-article? }}
  </div>

</article>
<!-- End node -->
