{#
/**
 * @file
 * Fepper theme's implementation for main view template.
 *
 * @see views/templates/views-view.html.twig
 */
#}
{%
  set classes = [
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id
  ]
%}
<!-- Begin views-view -->
<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}


  {{ rows }}

  {{ empty }}

  {{ pager }}
  {{ attachment_after }}

  {{ more }}
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
<!-- End views-view -->
