{#
/**
 * @file
 * Fepper theme's implementation to display a block.
 *
 * Additional variables:
 * - is_front: (boolean) Whether on front page or not.
 * - page_title_block_enabled: (0 or 1) Is page title block enabled?
 * - system_site_name: Provides site name even with $site_name switched off.
 *
 * @see block/templates/block.html.twig
 */
#}
<!-- Begin block -->
<div {{ attributes }}>

  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>
      {% if plugin_id == 'search_form_block' %}
        <a href="#" class="hidden-link"></a><span class="visually-hidden">
      {% endif %}
      {{ label }}
      {% if plugin_id == 'search_form_block' %}
        </span>
      {% endif %}
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}

    {{ content }}

  {% endblock %}

</div>
<!-- End block -->
