{#
/**
 * @file
 * Fepper theme's implementation for a menu block.
 *
 * @see system/templates/block--system-menu-block.html.twig
 */
#}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}" {{ attributes|without('role', 'aria-labelledby') }}>
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}

  {{ title_prefix }}
  <h2 {{ title_attributes.setAttribute('id', heading_id) }}>
      {% if plugin_id == 'system_menu_block:account' or plugin_id == 'system_menu_block:main' %}
        <a href="#" class="hidden-link"></a><span class="visually-hidden">
      {% endif %}
      {{ configuration.label }}
      {% if plugin_id == 'system_menu_block:account' or plugin_id == 'system_menu_block:main' %}
        </span>
      {% endif %}
    </h2>
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
