{#
/**
 * @file
 * Fepper theme's implementation for comments.
 *
 * @see comment/templates/comment.html.twig
 */
#}
<article {{ attributes.addClass('js-comment') }}>
  <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>

  <footer>
    {{ user_picture }}
    <p>{{ submitted }}</p>

    {% if parent %}
      <p class="visually-hidden">{{ parent }}</p>
    {% endif %}

    {{ permalink }}
  </footer>

  <div {{ content_attributes }}>
    {% if title %}
      {{ title_prefix }}
      <h3 {{ title_attributes.addClass('visually-hidden') }}>{{ title }}</h3>
      {{ title_suffix }}
    {% endif %}
    {{ content }}
  </div>
</article>
