{#
/**
 * @file
 * Fepper theme's implementation to display a single page.
 *
 * @see system/templates/page.html.twig
 */
#}
<!-- Begin page -->
<div class="layout-container">

  <header id="header" class="header cf" role="banner">
    {{ page.header }}

    {{ page.secondary_menu }}

    {{ page.primary_menu }}
  </header>

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main id="main" role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first {% if page.sidebar_second is empty %}no-sidebar-second{% endif %}" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer id="footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>
<!-- End page -->
